body { 
  background: rgba(62,44,97,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(62,44,97,1) 0%, rgba(60,32,117,1) 12%, rgba(60,32,117,1) 22%, rgba(60,29,133,1) 38%, rgba(60,29,133,1) 53%, rgba(74,29,133,1) 69%, rgba(105,38,138,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(62,44,97,1)), color-stop(12%, rgba(60,32,117,1)), color-stop(22%, rgba(60,32,117,1)), color-stop(38%, rgba(60,29,133,1)), color-stop(53%, rgba(60,29,133,1)), color-stop(69%, rgba(74,29,133,1)), color-stop(100%, rgba(105,38,138,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(62,44,97,1) 0%, rgba(60,32,117,1) 12%, rgba(60,32,117,1) 22%, rgba(60,29,133,1) 38%, rgba(60,29,133,1) 53%, rgba(74,29,133,1) 69%, rgba(105,38,138,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(62,44,97,1) 0%, rgba(60,32,117,1) 12%, rgba(60,32,117,1) 22%, rgba(60,29,133,1) 38%, rgba(60,29,133,1) 53%, rgba(74,29,133,1) 69%, rgba(105,38,138,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(62,44,97,1) 0%, rgba(60,32,117,1) 12%, rgba(60,32,117,1) 22%, rgba(60,29,133,1) 38%, rgba(60,29,133,1) 53%, rgba(74,29,133,1) 69%, rgba(105,38,138,1) 100%);
  background: radial-gradient(ellipse at center, rgba(62,44,97,1) 0%, rgba(60,32,117,1) 12%, rgba(60,32,117,1) 22%, rgba(60,29,133,1) 38%, rgba(60,29,133,1) 53%, rgba(74,29,133,1) 69%, rgba(105,38,138,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e2c61', endColorstr='#69268a', GradientType=1 );
}

.x_panel { color: #856CB8; }

.nav-md .container.body .right_col
{
	margin-left: 0px !important;
}

body .container.body .right_col {
    background: none;
}

.logo_topo {
  width: 25rem;
}

.pricing .title
{
	background: none;
	height: 170px;
}

.pricing.trabalho 
{
    background: url(../img/trabalho.png);
    background-size: 110%;
    background-position: 50% -40%;
    transition: background-position 0.3s ease-in-out;
}

.pricing.habitacao
{
    background: url(../img/habitacao.png);
    background-size: 110%;
    background-position: 50% -40%;
    transition: background-position 0.3s ease-in-out;
}

.pricing.sgf
{
    background: url(../img/sgf.png);
    background-size: 110%;
    background-position: 50% -40%;
    transition: background-position 0.3s ease-in-out;
}

.pricing.farmacia
{
    background: url(../img/farmacia.png);
    background-size: 110%;
    background-position: 50% -40%;
    transition: background-position 0.3s ease-in-out;
}

.pricing.trabalho:hover,
.pricing.habitacao:hover,
.pricing.sgf:hover,
.pricing.farmacia:hover
{
    background-position: 50% 30%;
}

.pricing_features 
{ 
	min-height: 0px; 
	background: none;
}

.pricing_footer
{
	background: none;
	border-top: none;
}

.x_panel {
  border-radius: 5px;
}

/****************************************************** Botão Customizado  */

.btn-roxo { 
  color: #FFFFFF; 
  background-color: #856CB8; 
  border-color: #3E276B; 
} 
 
.btn-roxo:hover, 
.btn-roxo:focus, 
.btn-roxo:active, 
.btn-roxo.active, 
.open .dropdown-toggle.btn-roxo { 
  color: #FFFFFF; 
  background-color: #3E276B; 
  border-color: #3E276B; 
} 
 
.btn-roxo:active, 
.btn-roxo.active, 
.open .dropdown-toggle.btn-roxo { 
  background-image: none; 
} 
 
.btn-roxo.disabled, 
.btn-roxo[disabled], 
fieldset[disabled] .btn-roxo, 
.btn-roxo.disabled:hover, 
.btn-roxo[disabled]:hover, 
fieldset[disabled] .btn-roxo:hover, 
.btn-roxo.disabled:focus, 
.btn-roxo[disabled]:focus, 
fieldset[disabled] .btn-roxo:focus, 
.btn-roxo.disabled:active, 
.btn-roxo[disabled]:active, 
fieldset[disabled] .btn-roxo:active, 
.btn-roxo.disabled.active, 
.btn-roxo[disabled].active, 
fieldset[disabled] .btn-roxo.active { 
  background-color: #856CB8; 
  border-color: #3E276B; 
} 
 
.btn-roxo .badge { 
  color: #856CB8; 
  background-color: #FFFFFF; 
}

/****************************************************** /Botão Customizado  */

.page-title
{
  height: auto;
  text-align: center;
  margin-bottom: 15px;
}

.x_title { text-align: center; }
.x_title h2 { float: none; }

span.centro {
    display: inline-block;
}

.wrp-trabalho {
    float: left;
    margin-left: 31px;
    width: 281px;
}

span.sobre {
    color: #fff;
    font-size: 9px;
}